@import "tailwindcss";

@layer components {
  .title {
    /* Title Styles */
    @apply relative w-57.5 text-[24px] text-center font-bold uppercase mb-20 py-0.5 mx-auto select-none border-3 border-[#333] z-10;
    &:hover {
      @apply text-white border-orange-800 delay-500;
    }
    /* Before & After */
    &::before,
    &::after {
      content: "";
      @apply absolute w-3 h-3 bg-orange-800 rounded-full top-1/2 -translate-y-1/2;
      z-index: -1;
    }
    &::before {
      @apply -right-8;
    }
    &::after {
      @apply -left-8;
    }
    /* Animation On Hover */
    &:hover {
      &::before {
        animation: fill-right 0.5s linear forwards;
      }
      &::after {
        animation: fill-left 0.5s linear forwards;
      }
    }
  }
}

@keyframes fill-right {
  50% {
    right: -2px;
    width: 12px;
    height: 12px;
  }
  100% {
    right: -2px;
    border-radius: 0;
    width: calc(50% + 2px);
    height: calc(100% + 4px);
  }
}

@keyframes fill-left {
  50% {
    left: -2px;
    width: 12px;
    height: 12px;
  }
  100% {
    left: -2px;
    border-radius: 0;
    width: calc(50% + 2px);
    height: calc(100% + 4px);
  }
}
