/* Header */

.list:hover {
  color: var(--color-orange);
}

.list:active {
  color: var(--color-orange-700);
}

.list a.active {
  color: var(--color-orange);
}

.list a {
  display: flex;
  align-items: center;
  gap: 7px;
}
