@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");
@import "tailwindcss";

@theme {
  /* Container */
  --breakpoint-sm: 540px;
  --breakpoint-md: 720px;
  --breakpoint-lg: 960px;
  --breakpoint-xl: 1140px;
  --breakpoint-xxl: 1320px;
  /* Colors */
  --color-orange: rgb(248, 70, 11);
  --color-secondary: #222821;
  /* Fonts */
  --font-jetbrains: "JetBrains Mono", "monospace";
}

body {
  color: var(--color-secondary);
  background-color: #f1f5f9;
}
