@import "tailwindcss";

@theme {
  /* Container */
  --breakpoint-sm: 540px;
  --breakpoint-md: 720px;
  --breakpoint-lg: 960px;
  --breakpoint-xl: 1140px;
  --breakpoint-xxl: 1320px;
  /* Colors */
  --color-orange: rgb(248, 70, 11);
  --color-primary-text-color: #222821;
  /* Fonts */
  --font-jetbrains: "JetBrains Mono", "monospace";
}

/* Body */

body {
  color: var(--color-primary-text-color);
  background-color: #f1f5f9;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: var(--color-orange-100);
}
::-webkit-scrollbar-thumb {
  background: var(--color-orange-800);
}
::-webkit-scrollbar-thumb:hover {
  background: var(--color-orange-700);
}

/* Global Classes */

.lc-flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.lc-flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.lc-flex-around {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
